<!DOCTYPE html>
<!--[if lt IE 9 ]><html class="no-js oldie" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="no-js oldie ie9" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html class="no-js" lang="es">
<!--<![endif]-->

<head>

    <!--- basic page needs
    ================================================== -->
    <meta charset="utf-8">
    <title><%= title %></title>
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- mobile specific metas
    ================================================== -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSS
    ================================================== -->
    <link rel="stylesheet" href="../../css/base.css">
    <link rel="stylesheet" href="../../css/vendor.css">
    <link rel="stylesheet" href="../../css/main.css">

       <!-- script
    ================================================== -->
    <script src="../../js/modernizr.js"></script>

    <!-- favicons
    ================================================== -->
    <link rel="shortcut icon" href="../../favicon.png" type="image/x-icon">
    <link rel="icon" href="../../favicon.png" type="image/x-icon">

</head>

<body class="DemoBody">
   
    <!-- header
    ================================================== -->
    <header class="headerDemos">
        <div class="header-logo">
            <a class="site-logo" href="/">
                <img src="../../images/logo.png" alt="Homepage">
            </a>
        </div>
    </header> <!-- end s-header -->
    <header class="HeaderDemos">
        <h1>
            <%= title %>
        </h1>
    </header>
    <!-- Demo
    ================================================== -->
    <section id="app" class="generalDemos">
        
    </section> <!--  end General Demos -->

    <footer class="PieDemo">
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem quas ipsam beatae consequuntur non illum architecto dolor accusamus consectetur repudiandae, doloribus iure voluptatum, accusantium officiis debitis maxime quibusdam. Officia, incidunt.Quidem itaque corporis quisquam. Fugiat, possimus corrupti veritatis facilis, impedit recusandae reprehenderit itaque iure beatae, vitae amet officia ab necessitatibus. Sint at velit aliquam nobis sequi repudiandae dicta animi deserunt.
        </p>
    </footer>

    <!-- Java Script
    ================================================== -->
    <script src="js/bundle.js"></script>
</body>

</html>