.Demo{
    position: relative;
    width: 50%;
    float: left;
    padding: 100px;
    height: 100%;
    box-sizing: border-box;
}

.InfoDemo{
    width: 50%;
    float: left;
    padding: 20px;
    height: 100%;
    box-sizing: border-box;
}

.InfoDemo p{
    color: white;
}

.style{
    border: 3px dashed black;
    position : absolute;
    top : 50%;
    left : 50%;
    transform: translate(-50%, -15%);
    -webkit-transform: translate(-50%, -15%);
}
